body{
	background-color: #160224;
}

.pianotiles{
	position: absolute;
	left: 0;
	border: 3px solid #080000;
	background-color: #F2F2F2;
	height: calc(100%/7);
	width: 20%;
}

.tab-item{
	position: absolute;
	left: 0;
	border: 3px solid #080000;
	background-color: #080000;
	color: #F2F2F2;
	height: 8%;
	width: 15%;
	text-align: center;
	font-size: 1.5vw;
	font-family: Karla;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}


.tab-item:nth-child(8){
	top: calc(100%/7);
	transform: translateY(-50%);
}

.tab-item:nth-child(9){
	top: calc(200%/7);
	transform: translateY(-50%);
}


.tab-item:nth-child(10){
	top: calc(300%/7);
	transform: translateY(-50%);
}


.tab-item:nth-child(11){
	top: calc(500%/7);
	transform: translateY(-50%);
}


.tab-item:nth-child(12){
	top: calc(600%/7);
	transform: translateY(-50%);
}

.pianotiles:nth-child(1){
	top: 0%;
}

.pianotiles:nth-child(2){
	top: calc(100%/7);
}

.pianotiles:nth-child(3){
	top: calc(200%/7);
}

.pianotiles:nth-child(4){
	top: calc(300%/7);
}

.pianotiles:nth-child(5){
	top: calc(400%/7);
}

.pianotiles:nth-child(6){
	top: calc(500%/7);
}

.pianotiles:nth-child(7){
	top: calc(600%/7);
}

#introduction{
	color: #FCDFF7;
	font-size: 2.5vw;
	position: absolute;
	left: 27%;
	top: 15%;
	font-family: Karla;
	font-weight: bold;
	font-style: oblique;
}

@keyframes rotate{
	0% {transform: rotate(-2deg);}
	50%{transform: rotate(2deg);}
	100%{transform: rotate(-2deg);}
}

#note1 img{
	height: 50vh;
	position: absolute;
	top: 37%;
	left: 43%;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#note2 img{
	height: 50vh;
	position: absolute;
	top: 38%;
	left: 60%;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#note3 img{
	height: 50vh;
	position: absolute;
	top: 34%;
	left: 76%;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@media (max-width: 600px) and (min-height: 600px){
	.tab-item{
		font-size: 1.5vh;
	}
	.tab-item a{
		font-size: 1.5vh;
	}
	#introduction{
		font-size: 2vh;
	}
}

@media (max-aspect-ratio: 5/4){
	#notes img{
		height: 40vw;
		transform: translateY(10%);
	}
}

@media (min-aspect-ratio: 2/1){
	#introduction{
		font-size: 5vh;
	}
	#note1 img{
		left: calc(57%-28vh);
	}
	#note2 img{
		left: calc(74%-28vh);
	}
	#note3 img{
		left: calc(90%-28vh);
	}

}














